APP_ENV=development
API_KEY=
API_HTTP_PORT=8080
API_HTTPS_PORT=8443

DATABASE_DIALECT=mysql
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=hrh
DATABASE_USERNAME=root
DATABASE_PASSWORD=

HRH_API_URL=http://api.hrhregistry.or.ke
HRH_API_KEY=
